{{> admin-patient-tabs route='patientsList'}}

<div class="container d-none d-md-block">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card w-75 my-3{{#if userProfile.isAdmin}}border-success border-3{{/if}}">
      <div class="row g-1">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          {{#if userProfile.photo}}
          <img src="{{userProfile.photo}}" width="100px" height="100px" style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;" />
          {{else}}
          <img
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjhZof730mrjOz5V7uKnP6I7WHry7hAdRVFTuEvTIDTnty5Vjrm6JHqh5jfCJp7VRE4TubG8EDyYT-loxD9q3z1rtyLxNEo51yXcePHsM41xaf2Fp54Ibmj1NlxjVDZcoVS3a1jI0y22uo/s800/search_mushimegane.png"
            width="100px" height="100px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
          {{/if}}
        </div>

        <div class="col-md-8 d-flex justify-content-end">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-regular fa-circle-user"></i> <strong>Name：{{userProfile.name}}</strong>
            </h5>
            <p class="card-text"><i class="fa-solid fa-at fa-lg"></i> <strong>Email：{{userProfile.email}}</strong></p>
            <p class="card-text"><i class="fa-regular fa-address-book fa-lg"></i> <strong>Intro：</strong></p>
            <p class="card-text">{{userProfile.intro}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex align-items-center">
  {{> admin-user-data-tabs route='allRecords'}}

  <button type="button" class="btn btn-link ms-auto">
    <a class="btn btn-outline-success" href="/admin/records/create/{{tab.userId}}">Write Records</a>
  </button>

  <div>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
</div>

<div class="row mt-2">
  {{#each records}}
  <div class="col-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <span class="me-auto"><strong>Record time : {{fullDateTime this.createdAt}}</strong></span>
        <span>
          {{!-- edit btn --}}
          <button type="button" class="btn p-0">
            <a class="btn" href="/admin/records/{{this.id}}/{{../userProfile.id}}/edit"><i class="fa-regular fa-pen-to-square fa-lg"></i></a>
          </button>

          {{!-- delete btn --}}
          <form action="/admin/records/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn pt-2" onclick="return confirm(`Confirm deletion？`)">
              <i class="fa-solid fa-trash fa-lg"></i>
            </button>
          </form>
        </span>
      </div>
        <p class="m-2">{{this.medicalRecord}}</p>
      <div class="card-body">
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{#if noContent}}
<p class="fs-3 text-center">No Records</p>
{{/if}}

<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}  {{#if noContent}}disabled{{/if}}">
      <a class="page-link" href="/admin/records/all/{{tab.userId}}?page={{pagination.prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pagination.pages}}
    {{#ifCond this ../pagination.currentPage}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item">
      <a class="page-link" href="/admin/records/all/{{../tab.userId}}?page={{this}}">{{this}}</a>
    </li>
    {{/ifCond}}
    {{/each}}
    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/admin/records/all/{{tab.userId}}?page={{pagination.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>