{{!-- {{> admin-patient-data}} --}}

<div class="container d-none d-md-block">
  <div class="card {{#if userProfile.isAdmin}}border-success border-3{{/if}} my-3">
    <div class="row g-1">
      <div class="col-md-4">
        {{#if userProfile.photo}}
        <img src="{{userProfile.photo}}" width="300px" height="300px" style="transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;" />
        {{else}}
        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjhZof730mrjOz5V7uKnP6I7WHry7hAdRVFTuEvTIDTnty5Vjrm6JHqh5jfCJp7VRE4TubG8EDyYT-loxD9q3z1rtyLxNEo51yXcePHsM41xaf2Fp54Ibmj1NlxjVDZcoVS3a1jI0y22uo/s800/search_mushimegane.png" width="300px" height="300px" style="transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;" />
        {{/if}}
      </div>

      <div class="col-md-8 d-flex justify-content-end">
        <div class="card-body">
          <h5 class="card-title"><i class="fa-regular fa-circle-user"></i> <strong>姓名：{{userProfile.name}}</strong></h5>
          <p class="card-text"><i class="fa-solid fa-at fa-lg"></i> <strong>信箱：{{userProfile.email}}</strong></p>
          <p class="card-text"><i class="fa-regular fa-address-book fa-lg"></i> <strong>自我介紹：</strong></p>
          <p class="card-text">{{userProfile.intro}}</p>
        </div>
        
        <div class="align-self-end m-3">
          <a class="btn btn-outline-secondary" href="javascript:history.back()">返回</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> admin-user-data-tabs route='allData'}}

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Temp (℃)</th>
      <th scope="col">HR (bpm)</th>
      <th scope="col">BP (mmHg)</th>
      <th scope="col">Glucose AC (mg/dl)</th>
      <th scope="col">Glucose PC (mg/dl)</th>
      <th scope="col">Datetime (MM/DD)</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {{#each patient}}
    <tr>
      <th scope="row">{{this.itemN}}</th>
      <td>{{this.User.name}}</td>
      <td {{#ifOut this.temperature 39 36}}class="text-danger"{{/ifOut}}>{{this.temperature}}</td>
      <td {{#ifOut this.heartRate 100 60}}class="text-danger"{{/ifOut}}>{{this.heartRate}}</td>
      <td {{#ifPresOut this.bloodPressure 120 90 80 60}}class="text-danger"{{/ifPresOut}}>{{this.bloodPressure}}</td>
      <td {{#ifOut this.gluac 100 70}}class="text-danger"{{/ifOut}}>{{this.gluac}}</td>
      <td {{#ifOut this.glupc 140 70}}class="text-danger"{{/ifOut}}>{{this.glupc}}</td>
      <td>{{simpleDateTime this.updatedAt}}</td>
      <td class="d-flex flex-nowrap">
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/patients/{{this.id}}">Detail</a>
        </button>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/users/{{this.userId}}/allData">All Data</a>
        </button>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/users/{{this.userId}}/medRecords">Medical Records</a>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/admin/users/{{tab.userId}}/allData?page={{pagination.prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
        <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="/admin/users/{{../tab.userId}}/allData?page={{this}}">{{this}}</a>
        </li>
      {{/ifCond}}
    {{/each}}
    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/admin/users/{{tab.userId}}/allData?page={{pagination.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>