<h1>Patients' Data</h1>

{{> admin-patient-tabs route='patientsData'}}

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Temp (℃)</th>
      <th scope="col">HR (bpm)</th>
      <th scope="col">BP (mmHg)</th>
      <th scope="col">Glucose AC (mg/dl)</th>
      <th scope="col">Glucose PC (mg/dl)</th>
      <th scope="col">Datetime (MM/DD)</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {{#each patients}}
    <tr>
      <th scope="row">{{this.itemN}}</th>
      <td>{{this.User.name}}</td>
      <td {{#ifOut this.temperature 39 36}}class="text-danger"{{/ifOut}}>{{this.temperature}}</td>
      <td {{#ifOut this.heartRate 100 60}}class="text-danger"{{/ifOut}}>{{this.heartRate}}</td>
      <td {{#ifPresOut this.bloodPressure 120 90 80 60}}class="text-danger"{{/ifPresOut}}>{{this.bloodPressure}}</td>
      <td {{#ifOut this.gluac 100 70}}class="text-danger"{{/ifOut}}>{{this.gluac}}</td>
      <td {{#ifOut this.glupc 140 70}}class="text-danger"{{/ifOut}}>{{this.glupc}}</td>
      <td>{{simpleDateTime this.updatedAt}}</td>
      <td class="d-flex flex-nowrap">
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/patients/{{this.id}}">Detail</a>
        </button>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/users/{{this.userId}}/allData">All Data</a>
        </button>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/users/{{this.userId}}/medRecords">All Records</a>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/admin/patients?page={{pagination.prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
        <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="/admin/patients?page={{this}}">{{this}}</a>
        </li>
      {{/ifCond}}
    {{/each}}
    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/admin/patients?page={{pagination.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>