<h1>好友的近日狀況</h1>

{{> patient-tabs route='contests'}}

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="contests">總覽</a>
  </li>

  <li class="nav-item mx-1">
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">血糖</a>
  </li>

  <li class="nav-item">
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">血壓</a>
  </li>
</ul>

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">姓名</th>
      <th scope="col">體溫 (℃)</th>
      <th scope="col">心跳 (bpm)</th>
      <th scope="col">血壓 (mmHg)</th>
      <th scope="col">飯前血糖 (mg/dl)</th>
      <th scope="col">飯後血糖 (mg/dl)</th>
      <th scope="col">時間 (月/日 點:分)</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {{#each friendData}}
    <tr>
      <th scope="row">{{this.itemN}}</th>
      <td class="fw-bold">{{this.User.name}}</td>
      <td {{#ifOut this.temperature 39 36}}class="text-danger"{{/ifOut}}>{{this.temperature}}</td>
      <td {{#ifOut this.heartRate 100 60}}class="text-danger"{{/ifOut}}>{{this.heartRate}}</td>
      <td {{#ifPresOut this.bloodPressure 120 90 80 60}}class="text-danger"{{/ifPresOut}}>{{this.bloodPressure}}</td>
      <td {{#ifOut this.gluac 100 70}}class="text-danger"{{/ifOut}}>{{this.gluac}}</td>
      <td {{#ifOut this.glupc 140 70}}class="text-danger"{{/ifOut}}>{{this.glupc}}</td>
      <td>{{simpleDateTime this.updatedAt}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/patients/{{this.id}}">詳細資訊</a>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#if noFriend}}
<p class="text-warning fs-3 fw-bold">目前沒有好友</p>
{{/if}}