{{> patient-data}}

{{> patient-data-tabs route='comments'}}

{{!-- 評論 --}}
<h4 class="mb-3 fw-bold">所有評論：</h4>
{{#each patient.Comments}}
  {{#orCond ../user.isAdmin ../user.id this.User.id}}
    <form action="/comments/{{this.id}}?_method=DELETE" method="POST" class="float-end">
      <button type="submit" class="btn btn-danger" onclick="return confirm(`確定要刪除此筆資料嗎？`)">刪除</button>
    </form>
  {{/orCond}}
  <blockquote class="blockquote mb-0">
    <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
    <p>{{this.text}}</p>
    <footer class="blockquote-footer">{{relativeTimeFromNow this.createdAt}}</footer>
  </blockquote>
  <hr />
{{/each}}

<form action="/comments" method="POST">
  <div class="form-row mb-3">
    <label class="form-label fw-bold" for="text">留下評論：</label>
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>
  <input type="hidden" name="patientId" value="{{patient.id}}"/>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary me-2">送出</button>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">返回</a>
  </div>
</form>