<h1>{{name}}的健康數據</h1>

{{> patient-tabs route='patients'}}

<a href='/patients/create'>
  <button type="button" class="btn btn-primary">新增數據</button>
</a>

{{!-- 因為上面 <a> 並非 block 元素，所以需要兩行 --}}
<br />
<br />

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">體溫 (℃)</th>
      <th scope="col">心跳 (bpm)</th>
      <th scope="col">血壓 (mmHg)</th>
      <th scope="col">飯前血糖 (mg/dl)</th>
      <th scope="col">飯後血糖 (mg/dl)</th>
      <th scope="col">時間 (月/日 點:分)</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {{#each patients}}
    <tr>
      <th scope="row"></th>
      <td {{#ifOut this.temperature 39 36}}class="text-danger"{{/ifOut}}>{{this.temperature}}</td>
      <td {{#ifOut this.heartRate 100 60}}class="text-danger"{{/ifOut}}>{{this.heartRate}}</td>
      <td {{#ifPresOut this.bloodPressure 120 90 80 60}}class="text-danger"{{/ifPresOut}}>{{this.bloodPressure}}</td>
      <td {{#ifOut this.gluac 100 70}}class="text-danger"{{/ifOut}}>{{this.gluac}}</td>
      <td {{#ifOut this.glupc 140 70}}class="text-danger"{{/ifOut}}>{{this.glupc}}</td>
      <td>{{simpleDateTime this.updatedAt}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/patients/{{this.id}}">詳細資訊</a>
        </button>

        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/patients/{{this.id}}/edit">更新</a>
        </button>
        
        <form action="/patients/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger" onclick="return confirm(`確定要刪除此筆資料嗎？`)">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>