<h1>好友的近日狀況</h1>

{{> patient-tabs route='contests'}}

<div class="d-flex nowrap">
  <a href='/contests'>
    <button type="button" class="btn btn-primary me-3">總覽</button>
  </a>

  <form class="row" action="/contests/search" method="GET">
    <div class="col-6">
      <input class="form-control" type="text" placeholder="請輸入朋友名字" name="contestFilter" list="myList" value="{{keyword}}">
      <datalist id="myList">
        {{#each friendInfo}}
        <option value="{{this.name}}"></option>
        {{/each}}
      </datalist>
    </div>
    <div class="col-4">
      <input class="form-control" type="number" placeholder="查詢資料筆數" name="searchNum">
    </div>
    <div class="col-2 ps-1">
      <button class="btn btn-success text-nowrap" type="submit">搜尋</button>
    </div>
  </form>
</div>

<br />

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">姓名</th>
      <th scope="col">體溫 (℃)</th>
      <th scope="col">心跳 (bpm)</th>
      <th scope="col">血壓 (mmHg)</th>
      <th scope="col">飯前血糖 (mg/dl)</th>
      <th scope="col">飯後血糖 (mg/dl)</th>
      <th scope="col">時間 (月/日 點:分)</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {{#each friendData}}
    <tr>
      <th scope="row">{{this.itemN}}</th>
      <td class="fw-bold">{{this.User.name}}</td>
      <td {{#ifOut this.temperature 39 36}}class="text-danger" {{/ifOut}}>{{this.temperature}}</td>
      <td {{#ifOut this.heartRate 100 60}}class="text-danger" {{/ifOut}}>{{this.heartRate}}</td>
      <td {{#ifPresOut this.bloodPressure 120 90 80 60}}class="text-danger" {{/ifPresOut}}>{{this.bloodPressure}}</td>
      <td {{#ifOut this.gluac 100 70}}class="text-danger" {{/ifOut}}>{{this.gluac}}</td>
      <td {{#ifOut this.glupc 140 70}}class="text-danger" {{/ifOut}}>{{this.glupc}}</td>
      <td>{{simpleDateTime this.updatedAt}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary text-nowrap" href="/patients/{{this.id}}">詳細資訊</a>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#if noFriend}}
<p class="text-warning fs-3 fw-bold">目前沒有好友</p>
{{/if}}

<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/contests/search?contestFilter={{keyword}}&page={{pagination.prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
        <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="/contests/search?contestFilter={{../keyword}}&page={{this}}">{{this}}</a>
        </li>
      {{/ifCond}}
    {{/each}}
    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/contests/search?contestFilter={{keyword}}&page={{pagination.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>